[Unit]
Description=Palm Reg camera debug UI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=fyp
WorkingDirectory=/home/fyp/palm_demo
ExecStart=/home/fyp/palm_demo/.venv/bin/python /home/fyp/palm_demo/debug_ui.py --host 0.0.0.0 --port 8080 --camera 0 --camera-tuning-file /usr/share/libcamera/ipa/rpi/vc4/imx219_noir.json --width 480 --height 360 --roi-mode dynamic --inference-ms 800 --input-width 320 --input-height 240 --recovery-pass --hand-model /home/fyp/palm_demo/models/palm_detection_mediapipe_2023feb.onnx --hand-pose-model /home/fyp/palm_demo/models/handpose_estimation_mediapipe_2023feb.onnx
Restart=on-failure
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
